.contato{
    display: flex;
    flex-direction: column;
    text-align: start;
}

.contato--formulario input, textarea{
    border-radius: .2rem;
    display: flex;
    margin: .1rem 0 .5rem 0;
    padding: .3rem;

}

.contato--formulario form button{
    align-items: center;
    align-self: center;
    border-bottom: 0;
    font-family: monospace;
    text-align: center;
    vertical-align: middle;
}