*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background: rgb(128, 128, 85);
    font-family: 'Gayathri', sans-serif;
    margin: 2%;
}

img{
    width: 100px;
}

section{
    margin: 2%;
}

.rodape{
    text-align: center;
}

